<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
		
		<!--开启这个一会,springmvc会判断请求是静态还是动态.如果是动态就接着执行,静态的话就交给web服务器默认servlet执行 -->
		<mvc:default-servlet-handler/>
		
		<!-- 注册了俩个bean,DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter,@controllers注解必须用到的,默认开启  -->
		<mvc:annotation-driven/>
		
		<!-- 开启springmvc注解(@Autowired,@Resource,@Required等),但是当使用<context:component-scan>时,则不在需要开启它拉  -->
		<context:annotation-config />
		
		<!-- springMVC开启扫描器 -->
		<context:component-scan base-package="com.bank.controller" />
		
		<!-- 视图解析器：逻辑视图  物理视图逻辑视图转化为物理视图时所需的前缀和后缀通过这个解析器可以定位到一个物理视图-->
		<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	       <property name="prefix" value="classpath:/templates/" />
	       <property name="suffix" value=".html" />
       </bean>      
</beans>
